<h2>Forgot password</h2>

<p *ngIf="!sent" class="text-sm mb-3">
  Enter your account email address. If it exists, you will receive a reset link.
</p>

<form *ngIf="!sent" [formGroup]="form" (ngSubmit)="submit()">

  <label>
    Email
    <input type="email" formControlName="email" />
  </label>

  <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="error">
    Invalid email.
  </div>

  <div *ngIf="errorMsg" class="error">
    {{ errorMsg }}
  </div>

  <button type="submit" [disabled]="form.invalid || sending">
    {{ sending ? 'Sending...': 'Send link'}}
  </button>
</form>

<div *ngIf="sent" class="success">
  If an account exists with this email, a reset link has been sent.
  Go check your inbox.
</div>
